
body{
    /* background-color: #0f2027; */
    background-color: white;
    padding: 0;
}

/* ********* nav-bar ********** */
nav{
    width: 100%;
    height: 86px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top:0px;
    left: -1px;
    font-size: 1.4rem;
    z-index: 10;  
    border: solid lightgray 2px;
}
/* ************* logo ************ */
#logo{
    width: 200px;
    height: 80%;
    margin-top: 24px;
    padding: 10px;
    cursor: pointer;
}
/* ************** nav-bar-left ************* */
#nav-left{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
#nav-left ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ************** nav-bar-right ************* */
#nav-right{
    width: 28%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-right ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*   ******* nav-bar decoration  ********** */
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav ul li i{
    color: #2BC5B4;
}

/* **************  search-bar ************** */
#search-bar{
    width: 46%;
    height: 50%;
    background-color:lightcoral ;
    color: white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
    font-size: 1.3rem;
}
.fa-magnifying-glass{
    color:aqua;
    cursor: pointer;
}
.nav-option{
    text-decoration: none;
    color: black;
}
#search-bar .nav-option{
    color: white;
    cursor: text;
}
/* ********** main-page *********** */
#main-page{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 0;
}

/* ********** aside ******* */
aside{
    min-width: 238px;
    height: 100vh;
    background-color: white;
    display: block;
    position: fixed;
    font-size: 1.3rem;
    padding: 30px;
    padding-top: 60px;
}

#library ul{
    height: 24vh;
    list-style: none;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#library ul li a{
    text-decoration: none;
    color:black;
}
#library ul li i{
    color: #2BC5B4;
}
#add-playlist{
    height:40px;
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #2BC5B4 2px;
    border-radius: 20px;
    margin-left: 25px;
}
#add-playlist a{
    text-decoration: none;
    color: #2BC5B4;
}
/* #add-playlist a:hover{
    /* box-shadow: rgba(146, 228, 194, 0.56) 50px 50px 50px 50px; */
/* }  */

/* ******** main container *************/
#main-container{
    width: 83%;
    height: 100%;
    position: absolute;
    left: 300px;    
}
#main-container h1{
    cursor: text;
    padding-left: 10px;
    font-size: 24px;
    color: red;
}
#empty-div{
    width: 100%;
    height: 160px;
}
#trending , #top-charts , #new-release , #editorial-picks{
    width: 100%;
    height: 500px;
    /* background-color:rgb(238, 221, 238); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; 
    position: relative;
}

.img-box{
    width: 180px;
    height: 200px;
    text-align: center; 
    color: gray;
    cursor: pointer;
}
#main-container img{
    max-width:150px;
    max-height: 150px;
    background-color:#2BC5B4;
    border: solid #2BC5B4 2px;   
}
#trending-row-1, #trending-row-2 {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

/* *********** footer ********** */
#footer-page{
    width: 100%;
    height: 500px;
    font-size: 1.1rem;
}
#footer-page h5{
    cursor: text;
    letter-spacing: 1px;
}
#footer-page ul{
    color: #3E3E3E;
    /* color: darkgray; */
    list-style: none;
    cursor: pointer;
}
#short-cuts{
    width:100%;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#version{
    width: 100%;
    height: 150px;
    color: black;
    position: relative;
    top: 150px;
}
#version ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
}

/* ********* contact *********** */
#contact{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3E3E3E;
    /* color: darkgrey; */
}
#contact #copy-right{
    width: 50%;
    margin-left: 30px;
    font-size: 1.15rem; 
    cursor: text;
}
#contact #social-media{
    width: 28%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem; 
}
#contact #social-media i{
    font-size: 32px;
    cursor: pointer;
}
#contact #social-media  .fa-facebook-square{
    color: #3B5998;
}
#contact #social-media  .fa-twitter{
    color: #1DA1F2;
}
#contact #social-media  .fa-youtube{
    color: #FF0000 ;
}
#contact #social-media  .fa-instagram{
    color: #E1306C ;
}
#contact #social-media  .fa-linkedin{
    color: #0077B5 ;
}

/*  ******* music control bar ******* */
#music-bar{
    width:100%;
    height: 100px;
    background-color: aliceblue;
    color: #3E3E3E;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 15;
}
/* *************** music bar left ********  */
#music-bar-left{
    width: 25%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
#music-bar-left span{
    font-size: 18px;
    cursor: pointer;
}
#song-img-icon img{
    padding: 10px;
    max-width: 64px;
    max-height: 64px;
    cursor: pointer;   
}
/* *********** control buttons center *********** */
#music-bar-center{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    letter-spacing: 36px;
}
#music-bar-center i{
    color: gray;
    cursor: pointer;
}
/* ********** music bar right ********* */
#music-bar-right{
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#music-bar-right span{
    font-size: 18px;
    cursor: pointer;
}
#music-bar-right i{
    color: gray;
    cursor: pointer;
    font-size: 30px;
}

/* ***** to be add and continue(on going process.....) ********** */